*.csv
*~
px4_ws/.catkin_tools/* 
px4_ws/src/slam_test/simData/*
px4_ws/src/frontend/Frames/*
px4_ws/logs/*
px4_ws/src/slam_test/log/*
px4_ws/src/slam_test/log/Map.pcd
catkin_ws/src/frontend/Frames/*
catkin_ws/devel/*
catkin_ws/build/*
px4_ws/devel/*
px4_ws/build/*
