<launch>

<arg name="sim" default="0" />
<arg name="ctrl" default="0"/>

<group unless="$(arg sim)"> 
	<include file="$(find mavros)/launch/px4.launch"> </include>
</group>

<group if="$(arg sim)">
<include file="$(find mavros)/launch/px4_sitl.launch"> </include>
</group>

<node pkg="px4_offboard" type="teleop" name="teleop" output="screen"> 
<param name ="sim" type="bool" value="$(arg sim)"  />
<param name ="ctrl" type="int" value="$(arg ctrl)" />
</node>

<node pkg="px4_offboard" type="SLAM" name="fcu" output="screen">
<param name ="sim" type="bool" value="$(arg sim)"  />
<param name ="ctrl" type="int" value="$(arg ctrl)" />
</node>

<include file="$(find apriltags_ros)/launch/example.launch"></include>

<include file="$(find openni2_launch)/launch/openni2.launch"></include>

<node pkg="px4_offboard" type="apriltag" name="apriltag" output="screen">
</node> 

</launch>

