<launch>

<arg name="sim" default="0"/>

<group if="$(arg sim)">
<include file="$(find mavros)/launch/px4.launch"> </include>
</group>

<include file="$(find px4_offboard)/launch/SLAM.launch"> </include>

<node pkg="frontend" type="frontend" name="rgbd_backend" output="screen">

<param name ="sim" type="bool" value="$(arg sim)"  />

</node>

</launch>

